<div class="row">
  <div class="col-lg">
    <div class="card">
      <div class="card-body fulfillment-notes-box">
        <% if fulfillment_request.fulfillment_center.fulfillment_notes.nil? %>
          No specific instructions
        <% else %>
          <%= ::Redcarpet::Markdown.new(Redcarpet::Render::HTML).render(
            fulfillment_request.fulfillment_center.fulfillment_notes
          ).html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>