#fulfillment-request-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#order-info-table {

}

.preview-image {
  max-width: 300px
}

.waiting_for_preparation {
  background-color: #e6e6e6
}

.waiting_for_fulfillment, .preparing {
  background-color: #ffe87d
}

.fulfilled {
  background-color: #bbe5b3
}

.preparation_failed {
  background-color: #ff967b
}

.separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fulfillment-notes-box {
  background-color: #f5f5f5
}

.mark-as-shipped-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mark-as-shipped-form input {
  margin-bottom: 20px;
}